<div class="input {{class}}">
    <label class="input__label" for="{{id}}">
        {{label}}
    </label>
    <div class="input_wrapper">
        <input class="input__input" id="{{id}}" type="{{type}}" placeholder="{{placeholder}}">
        <button class="input_button">
            {{> '../../elements/svgClose/index' class='input_button__close'}}
        </button>
    </div>
</div>